.button {
    font: inherit;
}

.button:hover,
.button:active {
    background: #27bc0d;
    border-color: #27bc0d;
    box-shadow: 0px 0px 8px #164f08;
}

.button:focus {
    outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
    background: #ccc;
    border-color: #ccc;
    color: #666666;
    cursor: not-allowed;
}
